version = 1

[install]
# Rust toolchain
cargo.pkg-path = "cargo"
cargo.pkg-group = "rust-toolchain"
rustc.pkg-path = "rustc"
rustc.pkg-group = "rust-toolchain"
clippy.pkg-path = "clippy"
clippy.pkg-group = "rust-toolchain"
rustfmt.pkg-path = "rustfmt"
rustfmt.pkg-group = "rust-toolchain"
rust-lib-src.pkg-path = "rustPlatform.rustLibSrc"
rust-lib-src.pkg-group = "rust-toolchain"

# rust-analyzer goes in its own group because it's updated
# on a different cadence from the compiler and doesn't need
# to match versions
rust-analyzer.pkg-path = "rust-analyzer"
rust-analyzer.pkg-group = "rust-analyzer"

# Linker
gcc.pkg-path = "gcc"
gcc.systems = ["aarch64-linux", "x86_64-linux"]

# Runtime dependencies
bpftrace.pkg-path = "bpftrace"
bpftrace.systems = ["aarch64-linux", "x86_64-linux"]

# Extra tools
cargo-nextest.pkg-path = "cargo-nextest"
just.pkg-path = "just"
mermaid-cli.pkg-path = "mermaid-cli"
nodejs.pkg-path = "nodejs"
pandoc.pkg-path = "pandoc"

[vars]

[hook]
on-activate = '''
  export PATH="$PWD/target/debug:$PATH"
  if [ ! -d $PWD/docs/node_modules ]; then
    echo "Installing node packages..." >&2
    pushd docs >/dev/null
    npm install
    popd >/dev/null
  fi
'''

[profile]

[options]
systems = ["aarch64-darwin", "aarch64-linux", "x86_64-linux"]

[services.docs]
command = "cd docs; npm run dev"
